@font-face {
  font-family: 'Fira Sans';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Fira-Sans-regular.eot');
  src: url('../fonts/Fira-Sans-regular.eot?#iefix') format('embedded-opentype'),
       local('Fira Sans'),
       local('Fira-Sans-regular'),
       url('../fonts/Fira-Sans-regular.woff2') format('woff2'),
       url('../fonts/Fira-Sans-regular.woff') format('woff'),
       url('../fonts/Fira-Sans-regular.ttf') format('truetype'),
       url('../fonts/Fira-Sans-regular.svg#FiraSans') format('svg');
}

@font-face {
  font-family: 'Fira Sans';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Fira-Sans-700.eot');
  src: url('../fonts/Fira-Sans-700.eot?#iefix') format('embedded-opentype'),
       local('Fira Sans Bold'),
       local('Fira-Sans-700'),
       url('../fonts/Fira-Sans-700.woff2') format('woff2'),
       url('../fonts/Fira-Sans-700.woff') format('woff'),
       url('../fonts/Fira-Sans-700.ttf') format('truetype'),
       url('../fonts/Fira-Sans-700.svg#FiraSans') format('svg');
}

@font-face {
  font-family: 'Roboto Mono';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Roboto-Mono-regular.eot');
  src: url('../fonts/Roboto-Mono-regular.eot?#iefix') format('embedded-opentype'),
       local('Roboto Mono'),
       local('Roboto-Mono-regular'),
       url('../fonts/Roboto-Mono-regular.woff2') format('woff2'),
       url('../fonts/Roboto-Mono-regular.woff') format('woff'),
       url('../fonts/Roboto-Mono-regular.ttf') format('truetype'),
       url('../fonts/Roboto-Mono-regular.svg#RobotoMono') format('svg');
}

* {
  position: relative;
}

body {
  font-family: "Fira Sans";
  font-size: 18px;
  background-color: white;
  height: 100%;
}

header, footer {
  background-color: black;
}

.logo {
  display: block;
  max-width: 150px;
  float: left;

  margin: 0;
  margin-top: 1em;
  margin-bottom: 1em;

  padding: 0;

  color: #78b722;
}

.cover {
  background-image: url("../img/titelbild-example.jpg");
  background-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.content {
  background: #e9e2e0;
}

.title {
  margin: 0;
  margin-top: 1em;
  margin-bottom: 0.75em;

  color: white;
  font-size: 8vw;
  font-weight: bold;
  letter-spacing: 0.3px;
  text-align: center;
  text-shadow: 0px 5px 5px rgba(48,20,12,0.30);
  line-height: 1;
}

@media screen and (min-width: 1024px) {
  .title {
    font-size: 90px;
  }
}

.Game {
  margin-bottom: -200px;
  padding: 1em;
  border-radius: 2px;
  background-color: white;
  z-index: 10;
}

.Game-imageWrapper {
  display: block;
}

.Game-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em 1.5em;
  font-size: 2em;
  line-height: 1;
  white-space: nowrap;
  color: white;
  background-color: #78b722;
  border-radius: 2em;
  border: 5px solid #78b722;
  z-index: 10;
}

.Game-button:hover{
  color: #78b722;
  background-color: white;
  text-decoration: none;
}

.Game-image {
  display: block;
  width: 100%;
}

.Game p {
  margin: 0;
  margin-bottom: 1em;
  padding: 0;
  font-size: 1.25em;
  text-align: left;
}

.cheatsheet {
  background: #e9e2e0;
  color: #5d3b37;
}

.command-category, .download{
  text-align: center;
  margin-top: 3em;
}

.command {
  background-color: white;
  padding: 0.5em;
  font-family: Roboto Mono;
}

.command-desc {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.download-button, .download-button:active, .download-button:target, .download-button:focus {
  padding: 10px 20px;
  background-color: #78b722;
  border-radius: 25px;
  border: 3px solid #78b722;
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.download-button:hover{
  background-color: white;
  text-decoration: none;
  color: #78b722;
}

.about {
  background-color: white;
  padding: 15px;
}

.angleSmall {
  float: right;
  color: #78b722;
  font-size: 25px;
  margin-top: -5px;
}

.impressum {
  margin-top: 50px;
  margin-bottom: 50px;
  background: #e9e2e0;
  color: #5d3b37;
}

footer {
  padding-top: 25px;
  padding-bottom: 25px;
}

footer a {
  margin-right: 15px;
  margin-top: 15px;
  color: #78b722;
  text-decoration: none;
}

footer a:hover {
  color: #78b722;
}

.github-link {
  fill: #78b722;
  top: 2px;
  right: 2px;
}

@media screen and (min-width:600px) {
  .cheatsheet {
    margin-top: 100px;
    padding: 15px;
  }

  .download {
    margin-top: 10px;
  }
}
