@font-face {
  font-family: 'Fira Sans';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Fira-Sans-regular.eot');
  src: url('../fonts/Fira-Sans-regular.eot?#iefix') format('embedded-opentype'),
       local('Fira Sans'),
       local('Fira-Sans-regular'),
       url('../fonts/Fira-Sans-regular.woff2') format('woff2'),
       url('../fonts/Fira-Sans-regular.woff') format('woff'),
       url('../fonts/Fira-Sans-regular.ttf') format('truetype'),
       url('../fonts/Fira-Sans-regular.svg#FiraSans') format('svg');
}

@font-face {
  font-family: 'Fira Sans';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Fira-Sans-700.eot');
  src: url('../fonts/Fira-Sans-700.eot?#iefix') format('embedded-opentype'),
       local('Fira Sans Bold'),
       local('Fira-Sans-700'),
       url('../fonts/Fira-Sans-700.woff2') format('woff2'),
       url('../fonts/Fira-Sans-700.woff') format('woff'),
       url('../fonts/Fira-Sans-700.ttf') format('truetype'),
       url('../fonts/Fira-Sans-700.svg#FiraSans') format('svg');
}

@font-face {
  font-family: 'Roboto Mono';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Roboto-Mono-regular.eot');
  src: url('../fonts/Roboto-Mono-regular.eot?#iefix') format('embedded-opentype'),
       local('Roboto Mono'),
       local('Roboto-Mono-regular'),
       url('../fonts/Roboto-Mono-regular.woff2') format('woff2'),
       url('../fonts/Roboto-Mono-regular.woff') format('woff'),
       url('../fonts/Roboto-Mono-regular.ttf') format('truetype'),
       url('../fonts/Roboto-Mono-regular.svg#RobotoMono') format('svg');
}

body {
  font-family: Fira Sans;
  background-color: white;
  height: 100%;
}

header, footer {
  background-color: black;
}

.logo {
  float: left;
  color: #78b722;
  margin: 0px;
  padding: 0px;

}

.angle {
  font-size: 60px;
  margin:0;
  padding: 0;
}

.try, .bash {
  margin-top: 20px;
  font-size: 30px;
}

.bash {
  font-weight: bold;
}

.cover {
  margin-bottom: -200px;
  background-image: url("../img/titelbild-example.jpg");
  background-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.content {
    background: #e9e2e0;
}

.title {
  text-align: center;
  color:white;
  margin-top: 100px;
  margin-bottom: 50px;
}

.title h1 {
  font-weight: bold;
  font-size: 50px;
  text-shadow: 1px 1px #333333;
  line-height: 1;
}

.intro {
  background-color: white;
  border-radius: 2px;
}

.terminal {
  width: 100%;
  margin-top: -200px;
  padding-bottom: 15px;
}

.gs {
  margin-top: 100px;
}

.intro p {
  font-size: 15px;
  padding: 15px;
  text-align: center;
}

.get-started {
  position: relative;
  transform: translateY(-50%);
  padding: 10px 20px;
  font-size: 20px;
  color:white;
  background-color: #78b722;
  border-radius: 25px;
  border: none;
}

.cheatsheet {
  background: #e9e2e0;
  padding: 15px 0;
  color: #5d3b37;
}

.command {
  background-color: white;
  padding: 5px;
  font-family: Roboto Mono;
}

.download {
  padding: 10px 20px;
  background-color: #78b722;
  border-radius: 25px;
  border: none;
  color:white;
  margin: 0px 10px;
}

.about {
  background-color: white;
  padding: 15px;
}

.angleSmall {
  float: right;
  color: #78b722;
  font-size: 25px;
  margin-top: -5px;
}

.impressum {
  margin-top: 50px;
  margin-bottom: 50px;
  background: #e9e2e0;
  color: #5d3b37;
}

footer {
  padding: 15px;
  padding-top: 25px;
  padding-bottom: 10px;
}

footer a {
  margin-right: 15px;
  margin-top: 15px;
  color: #78b722;
  text-decoration: none;
}

footer a:hover {
  color: #78b722;
}

@media (min-width:600px) { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
  .cheatsheet {
    margin-top: 100px;
    padding: 15px;
  }

  .download {
    margin-top: 10px;
  }
}
